header select{
    background-color: var(--main-green-color);
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    color: black;
}

header #properties-container #selector-container{
    width: 100%;
}

header #selector-container{
    width: 100%;
    height: 100%;
}


/* 
------------------------
Desktop
------------------------
*/


.desktop header{
    font-size: inherit;

    height: var(--header-height);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 4rem;
    margin:var(--header-margin-top) 0; 
    position: relative;
    z-index: 10;
}

.desktop header nav{
    height: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
}

.desktop header nav #nav-items{
    --item-padding: 1em;

    height: 100%;
    display: flex;
    align-items: center;
    gap:calc(4em - var(--item-padding));

    padding:0.5em 0em;
    border-radius: 4em;
    position: relative;

    background-color: var(--menu-black-color);
}

.desktop header nav #dashboard-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.7em;
    border-radius: 50%;
    background-color: var(--menu-black-color);
    cursor: pointer;
}

.desktop header nav .nav-item{
    display: flex;
    align-items: center;
    font-size: 1.1em;

    height: 100%;
    padding: 0 var(--item-padding);
    cursor: pointer;
    
    position: relative;
    z-index: 2;

    color: white;
    font-weight: bold;
    transition: 400ms color ease-in-out;
}

.desktop header nav .nav-item:first-child{
    margin-left: 0.5em;
}

.desktop header nav .nav-item:last-child{
    margin-right: 0.5em;
}

.desktop header nav .nav-item.marked{
    color: black;
}

.desktop header nav #dashboard-nav-item{
    height: 100%;
    position: relative;
    transition: 400ms background ease-in-out;
}

.desktop header nav #dashboard-nav-item.marked{
    background-color: var(--main-purple-color);
}

.desktop header nav #dashboard-nav-item img.invisible{
    z-index: -1;
    opacity: 0;
}

.desktop header nav #dashboard-nav-item img{
    height: 1.35em;
    position: absolute;
    transition: 400ms all ease-in-out;
    z-index: 1;
    opacity: 1;
}

.desktop header nav #marker{
    position: absolute;
    border-radius: 4em;
    background-color: var(--main-purple-color);
    z-index: 1;
    transition: 400ms all ease-in-out;
    opacity: 1;
}

.desktop header nav #marker.invisible{
    opacity: 0;
}

.no-transition header nav #marker{
    transition: none;
} 

.desktop header #properties-container{
    position: relative;
    display: flex;
    align-items: center;
    
}

.desktop header #properties-container > div{
    height: 70%;
}

.desktop header #switch-container{
    width: 60%;
    position: absolute;
    right: 110%;
}


.desktop header .switch{
    border-radius: 4em;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--menu-black-color);
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: opacity ease-in-out 300ms;
    cursor: pointer;
}

.desktop header .switch > div{
    border-radius: 4em;
    width: 2.5rem;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.desktop header .switch div:first-child{margin-left: 0.5em;}
.desktop header .switch div:nth-child(2){margin-right: 0.5em;}

.desktop header .switch #switch-marker{
    position: absolute;
    border-radius: 4em;
    background-color: var(--main-green-color);
    z-index: 1;
    transition: 400ms all ease-in-out;
}

.desktop header .switch img{
    line-height: 0;
    height: 1em;
    position: relative;
    transition: 400ms all ease-in-out;
    z-index: 2;
    filter: brightness(0.6);
}

.desktop header .switch > div.marked img{
    filter: brightness(0);
}



/* 
-------------------------
Phone
-------------------------
*/

.phone header{
    height: 5rem;
    background-color: var(--menu-black-color);
    border-radius: 2.5rem;
    padding:1.1rem 1.8rem;
    top: 5rem;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    position: absolute;
    z-index: 2;
    transition: height 350ms ease-in-out;
}

.phone header #header-main{
    display: flex;
    align-items: center;
    gap:2rem;
    height: 2.8rem;
}

.phone header #menu-button div{
    width: 20px;
    height: 2px;
    border-radius: 2rem;
    background-color: var(--main-purple-color);
}

.phone header #menu-button #third-line{
    width: 70%;
}

.phone header #menu-button{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.phone header #selector-container{
    display: flex;
}

.phone header select{
    font-size: 1.10rem;
    font-weight: 600;
    height: 90%;
    align-self: center;
}

.phone header #logo{
    position: relative;
    bottom: -3px;
}

.phone header nav #nav-items{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:2.5rem 0;
    transition: all 350ms ease-in-out;
    width: 0%;
}

.phone header nav{
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 350ms ease-in-out;
}

.phone header nav .nav-item{
    color: var(--lilac);
    font-size: 1.6rem;
    font-weight: bold;
    width: max-content;
    opacity: 0;
    transition: all 350ms linear;
}

.phone header:has(nav.active){
    height: 31rem;
}

.phone header nav.active{
    transform: scaleY(1);
}

.phone header nav.active #nav-items{
    height: 100%;
}

.phone header nav.active .nav-item{
    opacity: 1;
}